@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white dark:bg-black text-zinc-900 dark:text-white transition-colors duration-300;
    margin: 0;
    overflow: hidden;
  }
}
